<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django Guitar Page</title>
    <link rel="stylesheet" href='{% static "css/mystyle.css"%}' />
  </head>
  <body>
    <h1>Hii this is a picture of Django himself!</h1>
    <!-- {{ insert_me }} -->
    <img src='{% static "images/projectTwo.png" %}' alt="Uh Oh, didn't show!" />
    <!-- <img src="/static/images/projectTwo.png" alt="Uh Oh, didn't show!" /> -->
    <!-- <img src="{% static "images/projectTwo.png" %}" alt="Uh Oh, didn't show!" /> -->
  </body>
</html>
